
.tetris-piece {
    top: 0;
    left: 0;
    z-index: 2;
    position: absolute;
}


.s-shape {
    height: 120px;
    width: 120px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}
.l-shape {
    height: 120px;
    width: 120px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.z-shape {
    height: 120px;
    width: 120px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.t-shape {
    height: 120px;
    width: 120px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.l2-shape {
    height: 120px;
    width: 120px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.o-shape {
    height: 80px;
    width: 80px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.s-shape {
    height: 120px;
    width: 120px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.i-shape {
    height: 160px;
    width: 160px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
}


.shape0 {
    background: #1e272e;

    //box-shadow: inset #055f73 0px 0px 4px 1px;
}

.shape1 {
    background: #48dbfb;
}

.shape2 {
    background: #e84393;
}

.shape3 {
    background: #6c5ce7;
}

.shape4 {
    background: #f9ca24;
}

.shape5 {
    background: #f0932b;
}

.shape6 {
    background: #05c46b;
}

.shape7 {
    background: #3c40c6;
}

.grid {
    display: grid;
    position: relative;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
    background: #1e272e;
    height: 800px;
    width: 400px;
}

.piece-cell {
    border: 1px solid #2d3436;
}
.grid-cell {
    border: 1px solid transparent;;
}
